/* /// Typing animation */

/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
    color: black;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

/* grid */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* items */

/*Back button */
.myButton {
    grid-column: span 2;
    text-align: center;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}



#active a {
    display: block;
    color: white;
    background-color: black;
    width: 9em;
    padding: .2em .8em;
    margin-top: 2px;
    text-decoration: none;
}

.theme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.theme img {
    width: 100%;
}



.container > * {
    color: #353535;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 20px;
    background: white;
}

input {
    display: none;
}

.nume {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 160%
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
}

img {
    width: 100%;
}

p {
    text-align: center;
}

/* nav styles */

.container nav {
    background-color: white;
}

nav ul {
    display: block;
    float: right;
    opacity: 0.6;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

label {
    display: none;
    color: black;
    padding: 5px 9px;
}

input:checked ~ nav {
    max-height: 500px;
    transition: all 2.2s;
}

a:checked {
    text-decoration: underline;
    opacity: 1;
}

.ul-center {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

nav ul a:hover {
    background-color: #ddd;
    color: black;
}

/* media query */

/*
@media only screen and (max-width: 2000px) {
    body {
        max-width: 1000px;
        margin: auto;
    }
}
*/

@media only screen and (max-width: 999px) {
    body {
        max-width: 800px;
        margin: auto;
    }
    /* Grid */
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* specific item styles */
    .container header,
    .container nav,
    .container footer {
        grid-column: span 2;
    }
    .container section {
        grid-column: span 2;
    }
    .container aside {
        grid-column: span 2;
    }
    .container .typewriter {
        grid-column: span 2;
    }
    .container .theme {
        grid-column: span 1;
    }


    /* nav styles */
    nav ul li {
        display: inline-block;
        padding: 0 20px 0 0;
    }
    nav {
        border-bottom: 1px solid black;
    }

    /* items */
    .nume {
        margin-top: 10px;
    }

}

@media only screen and (min-width: 1000px) {

    .theme img {
    width: 100%;
    height: 200px;
}
    
    /* grid */
    .container {
        grid-template-columns: repeat(6, 3fr);
    }

    /*specific item styles */
    .container header,
    .container nav,
    .container footer {
        grid-column: span 6;
    }
    .container section {
        grid-column: span 4;
    }
    .container aside {
        grid-column: span 2;
    }
    .container .typewriter {
        /*        grid-column: span 5;*/
        grid-column-end: 7;
        margin-right: 10%;
    }
    .container .aboutMe {
        grid-column: span 3;
    }
    .container .imgMe {
        grid-column: span 3;
    }
    .container .theme {
        grid-column: span 2;
    }
    .container #theme4 {
        grid-column-start: 2;
        grid-column-end: 6;
    }



    /* nav styles */
    nav ul li {
        display: inline-block;
        padding: 0 20px 0 0;
    }
    nav {
        border-bottom: 1px solid black;
    }

    /* items */
    .nume {
        margin-top: 10px;
    }
    /*
    h1{
        display: flex;
    }
    .container .typewriter{
        min-width: 1000px;
        display: flex;
    }
*/
}

@media only screen and (max-width: 700px) {
    /* elements styles */
    label {
        display: block;
        position: absolute;
        right: 0;
        top: 0.5%;
        margin-top: 1%;
    }

    .nume {
        margin-top: 7px;
        font-size: 135%;
    }

    .typewriter {
        padding-top: 0;
    }
     .container .theme {
        grid-column: span 2;
    }
    /* nav styles */
    nav {
        margin-top: 10%;
        max-height: 0;
        overflow: hidden;
        border-bottom: 1px solid black;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .ul-center {
        flex-direction: column;
        order: 1;
        margin: 0;
    }
   

}

@media only screen and (max-width: 800px) {
    .typewriter {
        font-size: 1em;
    }
}

@media only screen and (max-width: 670px) {
    .typewriter {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 620px) {
    .typewriter {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 550px) {
    .typewriter {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 480px) {
    .typewriter {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 420px) {
    .typewriter {
        font-size: 0.5em;
    }
}