ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

ul.topbar {
}
ul.dropdown {
}
ul.flyout {
}
ul.topbar li {
}
ul.dropdown li {
}
ul.flyout li {
}
ul.topbar li a {
}

ul.topbar {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ffff;    
}
ul.dropdown li a {
}
ul.flyout li a {
}
ul.topbar li a:hover {
}
ul.dropdown li a:hover {
}
ul.flyout li a:hover {
}

nav a {
}
nav a:link {
}
nav a:visited {
}
nav a:hover {
}
nav a:focus {
}
nav a:active {
}

a {
}
a:link {
}
a:visited {
}
a:hover {
}
a:focus {
}
a:active {
}

ul.topbar {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ffff;    
}

ul.topbar {
    width: 95%;
    /*...*/ 
}

ul.topbar li {
    width: 19%;
}
ul.dropdown {
    width: 150%;
}
ul.flyout {
    width: 80%;
}

nav {
    width: 100%;
}

 ul.topbar li {
    width: 19%;
    display: inline-block;
}